.all-jobs-filter-cont{
   width: 100%;
   padding: 20px;
   background-color: black;
   display: flex;
   flex-direction:row;
}
.filter-cont{
   width: 30%;
   height:100%;
   color: white;
  
   
}
.all-jobs-cont{
   width: 70%;
   height:100%;
   display: flex;
   flex-direction:column;
   align-items: center;
    /* background-image:url(https://cdn-icons-png.flaticon.com/512/5680/5680244.png) ; */  
}

