.Filter-group-container{
  display: flex;
  flex-direction: column;
  gap:40px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  
   
  
 
}
@media only screen and (max-width:450px){
  .Filter-group-container {
    flex-direction:none;
   font-size:10px ;
    width: 100%;
    display: inline-block;
    
   
   
    
  
  }}
  @media only screen and (max-width:450px){
  .filter-heading,.Filter-label{
    font-family: 10px;

  }
  }
 @media only screen and (max-width:450px){
.ProfileDetails{
  font-size:x-small;
}
 }
    



.filter-heading{
  font-size: 25px;
  /* font-style: oblique; */

  
}

.Filter-label{
  font-size: 25px;
  /* font-style: oblique; */
  /* bottom: 10px; */
  /* height: 45px; */
}
input[type="radio"] {
  accent-color: #0d6efd; /* or any color you want */
}




  
  .ProfileDetails {
    background-image: url(https://assets.ccbp.in/frontend/react-js/profile-bg.png);
    background-size: cover;
    padding: 20px;
    border-radius: 30px 30px 15px 15px;
    height: 180px;
    font-size:  15px;
    display: inline-block;
  
  }
  .ProfileDetails {
    height: 200px;
  }

.profile-image {
  width: 65px;
  height: 60px;
}
.profile-name {
  font-family: 'Roboto';
  color: #6366f1;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 24px;
}
.profile-bio {
  font-family: 'Roboto';
  color: #2c3643;
  font-size: 10px;
  line-height: 1.5;
}